body{
    margin: 0;
    padding: 0;
}

/* top banner style */
main{
    /* display: flex; */
  
    
    /* background-color: rgb(81, 14, 145);
    justify-content: center;
    align-items: center;
    padding-top: 40px; */
}
    
.container{
    /* background-color: blue; */
    display: flex;
    
    background-color: rgb(81, 14, 145);
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.top-banner{
    display: flex;
    /* width: 1100; */
    /* background-color: blue; */
    padding-top: 153px;
    padding-bottom: 86px;
}
.banner-heading{
    text-align:left;
    font-size: 50px;
    /* font-style: bold; */
    color: #ffffff;
    width: 485px;
    height: 320;

}
.button-disign:hover{
    background-color: rgb(71, 164, 187);
    color: rgb(16, 19, 19);
}

.button-disign{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding: 15px 50px;
    background-color: rgb(214, 87, 108);
   
}

.fal{
    color: white;

    text-align: center;
  
}
.banner-profile{
    padding-left: 91px;
    /* overflow: hidden; */
  
}
.banner-profile img{
    width: 556px;
    /* padding-top: 153px; */
}
.profile{
    width: 556px;
}
.banner-profile:hover img{
    transform: scale(1.3);
   
    transition: transform 3s ease-in-out;
}
/* palyers section--------------------------------------------- */
.container1{
    padding-top: 70px;
    padding-left: 150px;
    padding-right: 290px;
    padding-bottom: 100px;
}
.container-boxes{
    display: grid;
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffffff;
    grid-row-gap: 37px;
    grid-column-gap: 37px;

}
.box{
    /* display: flex; */
    width: 310px;
height: 574;
/* border: 1px solid red; */
box-shadow: 5px 5px 10px 10px rgb(240, 233, 233);
/* display: flex; */
justify-content: center;
align-items: center;
padding-left: 10px;
padding-top: 10px;
}
.player img{
    width: 300px;
}
.player-desription{
    width: 300px;
}
.footer-section{
    display: grid;
   
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    /* width: 443px; */
    /* height: 213; */
}
.football-icon{
 
  text-align: center;  
}
.football-icon img{
    width: 483px;
    height: 110;

}
.cocial-media-icon{
    text-align: center;
}
.copy-right{
    text-align: center;
  
}