body{
    margin: 0;
    padding: 0;
}


/* <!-- thi is main section--------------------------------------- --> */
.container{
    
    display: flex;
    
    background-color: rgb(81, 14, 145);
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.top-banner{
    display: flex;
 
    padding-top: 153px;
    padding-bottom: 86px;
}
.banner-heading{
    text-align:left;
    font-size: 50px;
    color: #ffffff;
    width: 485px;
    height: 320;

}
.button-disign:hover{
    background-color: rgb(71, 164, 187);
    color: rgb(16, 19, 19);
}

.button-disign{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding: 15px 50px;
    background-color: rgb(214, 87, 108);
   
}

.fal{
    color: white;

    text-align: center;
  
}
.banner-profile{
    padding-left: 91px;
   
  
}
.banner-profile img{
    width: 556px;
   
}
.profile{
    width: 556px;
}
.banner-profile:hover img{
    transform: scale(1.3);
   
    transition: transform 3s ease-in-out;
}
/* palyers section-----------------second section  all boxes--------------------------------------- */
.container1{
    padding-top: 70px;
    padding-left: 150px;
    padding-right: 290px;
    padding-bottom: 90px;
}
.container-boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffffff;
    grid-row-gap: 37px;
    grid-column-gap: 37px;

}
.box{
 width: 310px;
height: 574;
box-shadow: 5px 5px 10px 10px rgb(240, 233, 233);
justify-content: center;
align-items: center;
padding-left: 10px;
padding-top: 10px;
}
.player img{
    width: 300px;
}
.player-desription{
    width: 300px;
}
/* ------------- container2 extra blog 1---------------third sectoin   extra boxes------------------ */


.article-blog{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    margin-bottom: 25px;
}
.blog{
  
    display: flex;
    color: rgb(214, 212, 207);
    background-color: rgb(129, 22, 129);
    width: 250px;
    margin: 5px;
    padding: 10px;
    text-align: justify;
    box-shadow: 5px 5px 10px 10px rgb(209, 203, 203);

}
/* ----------------article blog last boxes  extra boxes 2------section 4  ---------*/
#article-blogs{
display: grid;
grid-template-columns: repeat(3, 1fr);
justify-content: center;
grid-row-gap: 10px;
grid-column-gap: 10px;
align-items: center;
width: 500px;
margin-left: 430px;
margin-top: 15px;
margin-bottom: 30px;
}
.last-box{
background-color: rgb(107, 107, 143);
color: white;
width: 150px;
padding: 10px;
text-align:center;box-shadow: 5px 5px 5px 5px rgb(247, 244, 244);
}
/* ----------footer section--------------------------------- */
.footer-section{
    display: grid;
   
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
   
}
.football-icon{
 
  text-align: center;  
}
.football-icon img{
    width: 483px;
    height: 110;

}
/* -----------cocial media icon --------------------------------------------------- */
.cocial-media-icon{
    text-align: center;
}
.fab{
    padding: 5px;
    margin: 5px;
    background-color: #f1efef;
    border-radius: 50px;
    color: cornflowerblue;
}
.copy-right{
    text-align: center;
  
}